<table mat-table [dataSource]="tableData$ | async">
    <ng-container matColumnDef="fixtureName">
        <th mat-header-cell *matHeaderCellDef> Fixture </th>
        <td mat-cell *matCellDef="let element"> <span
                [style.color]="element.homeTeam.colour">{{element.homeTeam.name}}</span> vs
            <span [style.color]="element.awayTeam.colour">{{element.awayTeam.name}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="kickoff">
        <th mat-header-cell *matHeaderCellDef> Kick-off </th>
        <td mat-cell *matCellDef="let element"> {{element.kickOff | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="venue">
        <th mat-header-cell *matHeaderCellDef> Venue </th>
        <td mat-cell *matCellDef="let element"> {{element.venue.name}}, {{element.venue.city}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="noData" class="no-records">
    No records found
</div>