<div class="search-container">

  <form class="search-form">
    <mat-form-field class="text-search">
      <input matInput placeholder="Search" [formControl]="searchField">
      <mat-spinner *ngIf="isLoading" diameter="20" matSuffix></mat-spinner>
    </mat-form-field>
  </form>

  <app-search-results [tableData$]="searchResults$"></app-search-results>
</div>